@charset 'utf-8';

@import 'settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
//@include foundation-forms;
// @include foundation-range-input;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-close-button;
//@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
//@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
//@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@font-face {
    font-family: 'Press Start Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start Regular'), local('PressStart-Regular'),
        url(../../css/press-start-regular_1c33cba791229236ebbb7ddc56cd3b15.woff) format('woff'),
        url(../../css/press-start-regular_1c33cba791229236ebbb7ddc56cd3b15.ttf) format('truetype');
}


html {
	font-family: 'Press Start Regular', arial;
	cursor: url(../../assets/imgs/MouseCursor.png), auto;
	&:hover {
		cursor: url(../../assets/imgs/MouseCursor.png), auto;
	}
}

body {
	font-size: 16px;
	font-family: 'Press Start Regular', arial;
}

h1, h2, h3, h4, h5, li {
	font-family: 'Press Start Regular', arial;
}

.vertical-align {
	vertical-align: middle;
}

.panel-parent {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: grey;
}

.game-panel {
	margin: auto;
	width:75vw;
	height:40vw;
	background-color: beige;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.start-title {
	padding:12vw;
	-webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
     opacity: 1;
}

.row {
	height: inherit;
}

.character-sheet {
	display: none;
	height: inherit;
	-webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
}

.character-container {
	padding: 1.5rem;
}

.border-right {
	border-right: 1px solid black;
}

.tabs, .tabs-content {
	background-color: beige;
}

.tabs-content {
	height: 35vw;
}

.tabs-panel {
	overflow-y:scroll;
	height:35vw;
}

a {
	color: #0a0a0a;
	&:hover {
		color: #0a0a0a;
		text-decoration: underline;
	}
}

ul {
	list-style: none outside;
}

.rounded-img {
	border-radius: 125px !important;
}

.title-row {
	margin-bottom: rem-calc(40);
	text-align: center;
}

h1.title-row {
	font-weight: bold;
}

.contact-cards {
	text-align: center;
	margin-bottom: 5rem;

	.card {
		-webkit-perspective: 1000px;
		perspective: 1000px;
		display: inline-block;
	}

	.card:hover .flip, .card.hover .flip {
		transform: rotateY(180deg);
	}

	.flip, .front, .back {
		width: rem-calc(200);
		height: rem-calc(180);
	}

	.flip {
		text-align: center;
		transition: 0.6s;
		transform-style: preserve-3d;
		position: relative;

		.front, .back {
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
		}

		.front {
			background: rgba(255, 255, 255, 0.9);
			z-index: 2;
			padding-top: rem-calc(48);
		}

		.back {
			background: rgba(255, 255, 255, 0.9);
			transform: rotateY(180deg);
			padding-top: rem-calc(48);
		}

	  p {
			margin-left: .5rem;
			margin-right: .5rem;
			word-wrap: break-word;
		}
	}

	img {
		width: rem-calc(80);
		height: rem-calc(80);
	}
}
