@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
//@include foundation-forms;
// @include foundation-range-input;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-close-button;
//@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
//@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
//@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@font-face {
    font-family: 'Press Start Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start Regular'), local('PressStart-Regular'),
        url(../../css/press-start-regular_1c33cba791229236ebbb7ddc56cd3b15.woff) format('woff'),
        url(../../css/press-start-regular_1c33cba791229236ebbb7ddc56cd3b15.ttf) format('truetype');
}


html {
	font-family: 'Roboto-Regular', arial;
}

body {
	font-size: 18px;
	font-family: 'Roboto-Regular', arial;
}

h1, h2, h3, h4, h5, li {
	font-family: 'Press Start Regular', arial;
}

.off-canvas {
	box-shadow: 0 0 10px rgba(10,10,10,.5);
	z-index: 1;
}

.off-canvas-content {
	z-index: 0;
	background: linear-gradient(92deg, #355c7d, #6c5b7b, #c06c84);
	background-size: 800% 800%;

	-webkit-animation: Purple 30s ease infinite;
	-moz-animation: Purple 30s ease infinite;
	animation: Purple 30s ease infinite;

	@-webkit-keyframes Purple {
  	0%{background-position:0% 50%}
  	50%{background-position:100% 50%}
  	100%{background-position:0% 50%}
	}
	@-moz-keyframes Purple {
  	0%{background-position:0% 50%}
  	50%{background-position:100% 50%}
  	100%{background-position:0% 50%}
	}
	@keyframes Purple {
  	0%{background-position:0% 50%}
  	50%{background-position:100% 50%}
  	100%{background-position:0% 50%}
	}
}

.panel {
	padding: 3rem;
}

.nav {
    position: fixed;
    top: 50%;
    right: 15px;
    z-index: 100;
		display: none;
		&.show-on-desktops {
			display: block;
		}
}

.nav ul li a.current {
	background: rgba(255, 255, 0, 0.6);
}

a {
	color: #0a0a0a;
	&:hover {
		color: #0a0a0a;
		text-decoration: underline;
	}
}

ul {
	list-style: none outside;
}

.nav ul li {
    text-indent: -99999px;
    margin-bottom: 8px;
}

.nav ul li a {
    position: relative;
		display: block;
    width: 12px;
    height: 12px;
		border-radius: 1000px;
		background: rgba(255,255,255,0.4);
		transition: 0.6s;
}

.nav ul li a:hover {
	background: rgba(255, 255, 0, 0.6);
}

.resume__section {
	padding-top:5rem;
	padding-bottom:5rem;

	p, h4, li {
		font-family: 'Roboto-Regular', arial !important;
	}
}

.rounded-img {
	border-radius: 125px !important;
}

.title-row {
	margin-bottom: rem-calc(40);
	text-align: center;
}

h1.title-row {
	font-weight: bold;
}

.contact-cards {
	text-align: center;
	margin-bottom: 5rem;

	.card {
		-webkit-perspective: 1000px;
		perspective: 1000px;
		display: inline-block;
	}

	.card:hover .flip, .card.hover .flip {
		transform: rotateY(180deg);
	}

	.flip, .front, .back {
		width: rem-calc(200);
		height: rem-calc(180);
	}

	.flip {
		text-align: center;
		transition: 0.6s;
		transform-style: preserve-3d;
		position: relative;

		.front, .back {
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
		}

		.front {
			background: rgba(255, 255, 255, 0.9);
			z-index: 2;
			padding-top: rem-calc(48);
		}

		.back {
			background: rgba(255, 255, 255, 0.9);
			transform: rotateY(180deg);
			padding-top: rem-calc(48);
		}

	  p {
			margin-left: .5rem;
			margin-right: .5rem;
			word-wrap: break-word;
		}
	}

	img {
		width: rem-calc(80);
		height: rem-calc(80);
	}
}
